<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BOOLZAPP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="root">
      <div class="container">

        <div class="container-app">
          <div class="sidebar">
            <div class="mio-utente">
              <div class="mio-utente-left">
                <img :src="'img/avatar' + mio_utente.avatar.url + '.jpg'" :alt="mio_utente.avatar.alt" class="avatar">
                <span class="white">{{mio_utente.name}} {{mio_utente.surname}}</span>
              </div>
              <div class="mio-utente-right">
                <i :class="icone.circle"></i>
                <i :class="icone.mex"></i>
                <i :class="icone.setting"></i>
              </div>
            </div>
            <div class="alert-notifiche">
              <div class="icona-notifica-off">
                <i :class="icone.alarm_off"></i>
              </div>
              <div class="icona-notifica-text">
                Ricevi notifiche di nuovi messaggi.<br>
                <a href="">Attiva notifiche desktop</a>
              </div>
            </div>
            <div class="search-input">
              <i :class="icone.search"></i>
              <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div class="message">
              <div v-for="(utenti, i) in contacts" class="altri-utenti" @click="attivaUtente(i)">
                <div>
                  <img class="avatar" :src="'img/avatar' + utenti.avatar + '.jpg'" alt="">
                </div>
                <div>{{utenti.name}}</div>
              </div>
            </div>
          </div>
          <div class="main">
            <div class="open-chat">
              <div class="open-chat-left" v-for="(contatti, index) in contacts" v-if="contatti.visible === true">
                <img class="avatar" :src="'img/avatar' + contatti.avatar + '.jpg'" alt="">
                <div>
                  {{contatti.name}}<br>
                  <span>Ultimo accesso oggi alle {{contatti.ultimoAccesso}}</span>
                </div>
              </div>
              <div class="open-chat-right">
                <i :class="icone.search"></i>
                <i :class="icone.allegati"></i>
                <i :class="icone.setting"></i>
              </div>
            </div>

            <div class="chat">
              <div v-for="(prop, ind) in contacts" v-if="prop.visible === true">
                <div v-for="(mex, ind) in prop.messages" :class="mex.status">
                  {{mex.text}}
                  <span>{{mex.date}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="footer-left">
              <i :class="icone.smile"></i>
            </div>
            <div class="footer-center">
              <input type="text" placeholder="Scrivi un messaggio" v-model="nuovoMessaggio" @keyup.enter="aggiungiMessaggio">
            </div>
            <div class="footer-right">
              <i :class="icone.microfono"></i>
            </div>
          </div>
        </div>


      </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
